<div class="container">
    <div class="row">
        <div id="baner" class="col-md-12 col-lg-12 col-xl-12 col-sm-12 col-xs-12">
            <div id="bc1">
                <img src="img/mnimg.jpg" id="mnimg" class="rounded" />
            </div>

        </div>
    </div>
    <br>
    <div class="row">
        <span class="col-md-3 col-lg-3 col-sm-3 col-xs-3"><i id="titicn" class="fab fa-teamspeak"></i></span>
        <div class="col-md-6 col-lg-6 col-sm-6 col-xl-6">
            <i id="tit">   Online Marketing Platform based Project</i>
        </div>
        <span class="col-md-3 col-lg-3 col-sm-3 col-xs-3"><i id="titcn" class="fas fa-archive"></i></span>
    </div>
    <br>
    <div class="row" id="b1">
        <div class="col-md-6 col-lg-6 col-xl-6 col-sm-6" id="b2">
            <ul id="pnts">
                <li>
                    <a href="https://play.google.com/store/apps/details?id=com.loveispatientitskind.misfits.loveispatientitskind&hl=en">
                        <i>Created a eligantly designed app to promote the book to attract more readers.</i>
                    </a>
                </li>
                <li>
                    <a>
                        <i>Created an hormonious virtual mileu environment for the project interns to contribute more.</i>
                    </a>
                </li>
                <li>
                    <a>
                        <i>Unique referral number is the concept which we relied on to market the product</i>
                    </a>
                </li>
                <li>
                    <a>
                        <i>Our project team managers took painstaking amount of work to mediate the differences among their team members and made the project a cool one.</i>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/spaden/themisfits">
                        <i>Deployed it on Digital Ocean LAMP vps and later moved the project souce files to GitHub repository</i>
                    </a>
                </li>
            </ul>

        </div>

        <div id="scimg" class="col-md-5 col-lg-5 col-xl-5 col-sm-5">
            <div class="appbck">
                <img id="im1" src="img/login.jpg" class="rounded">
            </div>
            <div class="appbck">
                <img src="img/and1.jpg" class="img-thumbnail">
            </div>
        </div>
    </div>
    <br><br>
    <div class="row" style="background-image: url('img/bac1.jpg'); background-size: cover;">
        <div class="col-md-10 col-xl-10 col-lg-10 col-sm-10 col-xs-10">
            <div id="det">
                <i>Hired project interns through internshala platform and worked as a team with them for a period of one and half month.</i>
                <br>
                <p style="width: 2.9em;"></p><a href="https://photos.app.goo.gl/iD8KpsR4GcXa5uP48">Check out the hiring advert</a>
            </div>

        </div>
    </div>

    <br><br>

    <div class="row">
        <div class="col-md-3 col-lg-3 col-xl-3 col-sm-3">
            <div class="tm">
                <div class="mgbt">
                    <img ng-click="hey($event)" id="dlg" class="rounded-circle tmimg" src="img/elon.jpg">
                    <br>
                    <i>| Team Manager |</i>
                </div>
                <div>
                    <img ng-click="hey($event)" id="nimesh" class="rounded-circle tmimg" src="img/elon.jpg">
                    <br>
                    <i>| Team Manager |</i>

                </div>
            </div>
        </div>
        <span class="col-md-2 col-lg-2 col-xl-2 col-sm-2"></span>

        <div class="col-md-3 col-lg-3 col-xl-3 col-sm-3 col-xs-3">
            <div class="creator">
                <div>
                    <img ng-click="hey($event)" id="spaden" class="rounded-circle crtimg" src="img/elon.jpg">
                    <br>
                    <i>Creator | Full Stack Developer |  Project Manager</i>
                </div>
                <div id="tester">
                    <img ng-click="hey($event)" id="asbn" class="rounded-circle tstimg" src="img/elon.jpg">
                    <br>
                    <i>Tester | Team Manager | Hiring Manager </i>
                </div>
            </div>
        </div>
        <span class="col-md-1 col-lg-1 col-xl-1 col-sm-1"></span>

        <div class="col-md-3 col-lg-3 col-xl-3 col-sm-3">
            <div class="tm">
                <div class="mgbt">
                    <img ng-click="hey($event)" id="rahul" class="rounded-circle tmimg" src="img/elon.jpg">
                    <br>
                    <i>| Team Manager |</i>
                </div>
                <div>
                    <img ng-click="hey($event)" id="sumanth" class="rounded-circle tmimg" src="img/elon.jpg">
                    <br>
                    <i>| Team Manager |</i>
                </div>
            </div>
        </div>


    </div>

    <br> <br>

    <div class="row">
        <span class="col-md-4 col-lg-4 col-xl-4"></span>

        <div class="col-md-4 col-lg-4 col-xl-4 col-sm-4" id="off">

            <a href="temp/intn.htm"><i>Check out our interns who worked with finesse !</i></a>

        </div>
        <span class="col-md-4 col-lg-4 col-xl-4"></span>

    </div>
    <br>


</div>
<div class="container-fluid">
    <div class="row" id="foot">
        <span class="col-md-4 col-lg-4 col-xl-4"></span>

        <div class="col-md-4 col-lg-4 col-xl-4 col-sm-4">
            <h6 style="margin-top: 2em; margin-bottom: 2em;"><i>Made in  <i class="fa fa-heart" aria-hidden="true"></i> with AngularJs</i>
            </h6>

        </div>
        <span class="col-md-4 col-lg-4 col-xl-4"></span>

    </div>

</div>