#mnimg {
    margin-top: 0.8em;
    margin-left: 10%;
    width: 80%;
    height: 10.9em;
    opacity: 0.899;
    margin-bottom: 0.98em;
    box-shadow: 15px 8px 19px #888888;
}

#tit {
    margin-left: 0.9em;
}

#titicn {
    margin-left: 6.4em;
}

#b2 {
    box-shadow: 10px 7px 15px #888888;
}

.appbck {
    background-color: #faf6f5;
    box-shadow: -4px 3px 5px #ede9e8;
    float: left;
    margin-top: 0.7em;
    margin-bottom: 0.9em;
    margin-left: 1.2em;
    margin-right: 1.4em;
}

#pnts>li {
    font-size: 1.0em;
    margin-top: 0.5em;
    margin-left: 0.2em;
}

#b1 {
    background-color: #ecf0f1;
}

#scimg {
    margin-top: 0.3em;
    box-shadow: -4px 3px 5px #888888;
    background-color: #ddece3;
}

#titcn {
    margin-right: 7.9em;
}

#bc1 {
    background-color: #f3eeed;
    margin-top: 0.8em;
    opacity: 0.8;
}

body {
    background-color: #f1f1f1;
}