#hd {
    background-color: #d7ccca;
    box-shadow: -10px 7px 15px #888888;
}

.det {
    margin-left: 4em;
}

i {
    font-size: 1.3em;
}

.des {
    background-color: #f5b7b1;
}

#desg {
    margin-left: 7em;
    text-decoration-line: underline;
}

.lef {
    background-color: #5d6d7e;
    box-shadow: -5px 7px 15px #888888;
}

#test {
    margin-top: 2em;
    margin-bottom: 1em;
}